# Default ignored files
/../../../../../../MAXPOG~1/AppData/Local/Temp/parcer.py6399649925594358632/.idea/shelf/
/../../../../../../MAXPOG~1/AppData/Local/Temp/parcer.py6399649925594358632/.idea/workspace.xml
